<nav class="navbar navbar-expand-sm bg-light navbar-light">

 <ul class="navbar navbar-nav">
    <li>
        <button (click)="onGetAllProducts()" class="btn btn-outline-info ms-2">All Products</button>
    </li>

    <li>
        <button class="btn btn-outline-info ms-2" (click)="onGetSelectedProducts()" >Selected</button>
    </li>

    <li>
        <button class="btn btn-outline-info ms-2" (click)="onGetAvailableProducts()">Available</button>
    </li>
    
 </ul>

 <ul class="navbar-nav ms-auto">
   <li class="nav-item">
     <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="d-flex align-items-center">
       <input 
         type="text" 
         ngModel 
         name="keyword" 
         placeholder="Search" 
         class="form-control form-control-sm me-2" 
         aria-label="Search"
       />
       <button class="btn btn-sm btn-outline-info" type="submit">
         <span class="fa fa-search"></span>
       </button>
     </form>
   </li>
 </ul>
 

</nav>
<div class="container">

   <ng-container *ngIf="products$ |async as result" [ngSwitch]="result.dataState">
      <ng-container *ngSwitchCase="UIDataStateEnum.LOADING">
        LOADING...
      </ng-container>
   
      
     <ng-container *ngSwitchCase="UIDataStateEnum.ERROR">
       <div class="alert-danger">
         {{result.errorMessage}}
       </div>
     </ng-container>
   
      <ng-container *ngSwitchCase="UIDataStateEnum.LOADED">
       <table class="table  table-bordered">
           <tr>
              <th>ID</th><th>Name</th><th>Price</th><th>Quantity</th><th>Selected</th><th>Available</th>
           </tr>
           <tr *ngFor="let p of result.data">
              <td>{{p.id}}</td>
              <td>{{p.name}}</td>
              <td>{{p.price}}</td>
              <td>{{p.quantity}}</td>
              <td>{{p.selected}}</td>
              <td>{{p.available}}</td>
           </tr>
        </table>
     </ng-container>
   
   
   </ng-container>

</div>
<!--
<div class="container" *ngIf="products$">
  <table class="table">
     <tr>
        <th>ID</th><th>Name</th><th>Price</th><th>Quantity</th><th>Selected</th><th>Available</th>
     </tr>
     <tr *ngFor="let p of products$ |async">
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.price}}</td>
        <td>{{p.quantity}}</td>
        <td>{{p.selected}}</td>
        <td>{{p.available}}</td>
     </tr>
  </table>
</div>
-->
